
body {
    font-size: 1.5rem;
    background: black;
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

    font-family: sans-serif;
    gap: 1rem;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    width: fit-content;
    height: fit-content;
    place-items: center;
    place-content: center;
    gap: 1rem;
}

.page>* {
    overflow: hidden;
    border-radius: 1.5rem;
}